<br>
<div class="container white outer">
    <div class="center lmhc-logo-wrapper">
        <img class="responsive-img" src="images/logo-600x600.jpg">
    </div>
    <br>

    <div class="lmhc-blog-wrapper">

        <!-- Example result 1 -->
        <div class="row blog-single-result">
            <div class="col s12 m3 l2"><div class="thumbnails photo-1"><img src="/images/uploads/1490992614272-441398736-1490992658231.jpg"></div></div>
            <div class="col s12 m9 l10 flow-text blog-text-preview">
                <h4>Very First Blog</h4>
                <p class="">Yup, I said it - Welcome to my new site where I'll provide everything you want to know about nutrition!</p>
                <a href="blogs/blogNameGoesHere" class="orange-text">Read more...</a>
            </div>
        </div>
        <div class="divider"></div>
        <br>

        <!-- Example result 2 -->
        <div class="row blog-single-result">
            <div class="col s12 m3 l2"><div class="thumbnails photo-1"><img src="/images/uploads/20160624_083944.jpg"></div></div>
            <div class="col s12 m9 l10 flow-text blog-text-preview">
                <h4>Running to Potato Chip Rock</h4>
                <p class="">Nutrition is best complemented with a little bit of exercise! Highly recommend this run.</p>
                <a href="blogs/blogNameGoesHere" class="orange-text">Read more...</a>
            </div>
        </div>
        <div class="divider"></div>
        <br>

        {{!--<h2 class="lmhc-main-title-font center">
            {{categoryTitle}}
        </h2>
        {{>en/recipesearch}}
        <br />
        <div class="recipe-results-wrapper">
            <h4 class="lmhc-main-title-font center">Results</h4>
            {{#each recipeResult}}
            <div class="row recipe-single-result">
                <div class="col l2"><div class="photos photo{{@index}}" style="background-image: url('/images/uploads/{{imageURLs.[0]}}');"></div></div>
                <div class="col s1"><div class="vertical-divider center black"></div></div>
                <div class="col l10 flow-text">
                    <h4>{{title}}</h4>
                    <p class="truncate">{{description}}</p>
                    <a href="./{{category}}/{{_id}}" class="orange-text">Read more...</a>
                </div>
            </div>
            {{#unless @last}}
            <div class="divider"></div><br />
            {{/unless}}
            {{/each}}
        </div>--}}
    </div>
</div>

<style type="text/css">
    .lmhc-logo-wrapper {
        height: 250px;
    }
    
    .lmhc-logo-wrapper > img {
        width: 250px;
        min-height: 100%;
    }

    .lmhc-blog-wrapper {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .blog-single-result {
        width: 100%;
    }
    
    .thumbnails {
        width: 100%;
        margin: 0 auto;
    }

    .thumbnails > img {
        width: 100%;
        min-height: 100%;
    }

    .blog-text-preview {
        word-wrap: break-word;
        overflow: hidden;
    }

    /* small */
    @media (min-width: 768px) {
        .lmhc-logo-wrapper {
            height: 300px;
        }
    
        .lmhc-logo-wrapper > img {
            width: 250px;
            min-height: 100%;
        }

        .outer.container {
            border-left: 2px black solid;
            border-right: 2px black solid;
        }

        .thumbnails {
            height: 75px;
        }

        /*@media (orientation: portrait) {
            body {background-color: red;}
        }

        @media (orientation: landscape) {
            body {background-color: blue;}
        }*/
    }

    /* medium */
    @media (min-width: 992px) {
        body {background-color: yellow;}

        .lmhc-logo-wrapper {
            height: 300px;
        }

        .lmhc-logo-wrapper > img {
            width: 250px;
        }

        .thumbnails {
            transform: translateY(50%);
        }
    }

    /* desktop */
    @media (min-width: 1200px) {
        .lmhc-logo-wrapper {
            height: 100%;
        }

        .lmhc-logo-wrapper > img {
            width: 400px;
        }

        .thumbnails {
            height: 100%;
        }
    }

    /* helper classes */
</style>

<script type="text/javascript">
    $(document).ready(function(){
        $('.collapsible').collapsible();
    });
</script>