<br>
<div class="container">
    <div class="title-and-help-wrapper">
        <h3 id="category-title">{{category}}</h3>
        <a class="btn-floating btn-small waves-effect waves-light green" href="/en/admin/{{category}}/add"><i class="material-icons">add</i></a>
        <a id="delete-{{category}}" class="btn-floating btn-small waves-effect waves-light red disabled"><i class="material-icons">delete</i></a>
        <a id="display-help" class="btn-floating btn-small waves-effect waves-light blue"><i class="material-icons">help_outline</i></a>
    </div>
    <table class="bordered highlight responsive-table">
        <thead>
            <tr>
                <th class="less-bottom-padding"><input type="checkbox" id="select-all" /><label for="select-all"></label></th>
                {{!-- each block goes here. for now just hard code --}}
                <th>#</th>
                <th>Title</th>
                {{#if data.1.category}}
                    <th>Category</th>
                {{/if}}
                <th>Date Created</th>
                <th>Last Updated</th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td class="less-bottom-padding"><input type="checkbox" id="delete-{{category}}-{{@index}}" class="potential-delete" /><label for="delete-{{category}}-{{@index}}"></label></td>
                <td>{{@index}}</td>
                <td><a href="{{../category}}/edit/{{_id}}">{{title}}</a></td>
                {{#if category}}
                    <td>{{category}}</td>
                {{/if}}
                <td>12/15/2016</td>
                <td>12/15/2016</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<style>
    #category-title::first-letter {
        text-transform: uppercase;
    }

    .less-bottom-padding {
        padding-bottom: 7px;
    }

    .title-and-help-wrapper > * {
        display: inline-block;
    }

    .title-and-help-wrapper > a {
        margin-left: 15px;
        margin-bottom: 16.352px;
    }

    tbody > tr > td:first-child {
        width: 30px;
    }

    /* small */
    @media (min-width: 768px) {
        .title-and-help-wrapper > a {
            margin-left: 20px;
        }
    }
</style>

<scr{{!}}ipt>
    $(document).ready(function() {
        $('#select-all').click(function() {
            var checkBoxes = $('tbody > tr > td > input[type=checkbox]');
            checkBoxes.prop('checked', $(this).prop('checked'));
            DeleteButtonClickable();
        });

        $('#display-help').click(function() {
            // display modal to help laura with navigating admin buttons/table
        });

        $('#delete-{{category}}').click(function() {
            console.log('TODO');
            // display modal to delete these mutha fuckas
        });

        $('.potential-delete').click(DeleteButtonClickable);
    });

    function DeleteButtonClickable() {
        $('#delete-{{category}}').toggleClass('disabled', $('tbody > tr > td > input[type=checkbox]:checked').length <= 0);
    }
</scr{{!}}ipt>