<br>
<div class="custom-container">
    <div class="outer-table">
        <div class="outer-table-row">
            <div class="outer-table-col l"></div>
            <div class="outer-table-col c z-depth-5">
                <h3 class="blog-title lmhc-main-title-font center">{{title}}</h3>
                {{#if subheading}}
                <h5 class="blog-subheading grey-text center">{{subheading}}</h5>
                {{/if}}
                <h6 class="blog-date grey-text center">{{date}}</h6>

                {{#if sections.[0]}}
                <div class="main-image-wrapper center">
                    <img src="/images/uploads/{{sections.[0]}}">
                </div>
                {{/if}}

                <div class="blog-sections flow-text">
                    {{#each sections}}
                        {{#if @first}}
                        {{else}}
                            {{{this}}}
                        {{/if}}
                    {{/each}}
                </div>
            </div>
            <div class="outer-table-col r">
                <div class="side subscribe-wrapper hide-on-med-and-down green lighten-1 z-depth-1">
                    <h5 class="center white-text">Subscribe!</h5>
                    <h6 class="center white-text">Receive updates on latest Blogs, Recipes, Events and more!</h6>
                    <form class="z-depth-1">
                        <div class="row">
                            <div class="input-field">
                                <input id="side-firstName" class="validate" name="firstName" type="text">
                                <label for="side-firstName">First Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field">
                                <input id="side-email" class="validate" name="email" type="email">
                                <label for="side-email">Email</label>
                            </div>
                        </div>
                        <div class="center row side-submit">
                            <button id="side-submit-btn" class="btn">
                                Submit
                            </button>
                        </div>
                    </form>
                    <h5 class="center white-text">Follow me on Social Media</h5>
                    <div class="center social-icons">
                        <!-- facebook icon -->
                        <a href="https://www.facebook.com/lmhealthcoach" target="_blank">
                            <svg style="width:24px;height:24px;!important;margin-right:5px;" viewBox="0 0 24 24">
                                <path fill="#ffffff" d="M19,4V7H17A1,1 0 0,0 16,8V10H19V13H16V20H13V13H11V10H13V7.5C13,5.56 14.57,4 16.5,4M20,2H4A2,2 0 0,0 2,ffffff,2 0 0,0 4,22H20A2,2 0 0,0 22,20V4C22,2.89 21.1,2 20,2Z" />
                            </svg>
                        </a>
                        <!-- twitter icon -->
                        <a href="https://twitter.com/lmhealthcoach" target="_blank">
                            <svg style="width:24px;height:24px;margin-left:5px;margin-right:5px;" viewBox="0 0 24 24">
                                <path fill="#fff" d="M22.46,6C21.69,6.35 20.86,6.58 20,6.69C20.88,6.16 21.56,5.32 21.88,4.31C21.05,4.81 20.13,5.16 19.16,5.36C18.37,4.5 17.26,4 16,4C13.65,4 11.73,5.92 11.73,8.29C11.73,8.63 11.77,8.96 11.84,9.27C8.28,9.09 5.11,7.38 3,4.79C2.63,5.42 2.42,6.16 2.42,6.94C2.42,8.43 3.17,9.75 4.33,10.5C3.62,10.5 2.96,10.3 2.38,10C2.38,10 2.38,10 2.38,10.03C2.38,12.11 3.86,13.85 5.82,14.24C5.46,14.34 5.08,14.39 4.69,14.39C4.42,14.39 4.15,14.36 3.89,14.31C4.43,16 6,17.26 7.89,17.29C6.43,18.45 4.58,19.13 2.56,19.13C2.22,19.13 1.88,19.11 1.54,19.07C3.44,20.29 5.7,21 8.12,21C16,21 20.33,14.46 20.33,8.79C20.33,8.6 20.33,8.42 20.32,8.23C21.16,7.63 21.88,6.87 22.46,6Z" />
                            </svg>
                        </a>
                        <!-- instagram icon -->
                        <a href="https://www.instagram.com/lmhealthcoach/" target="_blank">
                            <svg style="width:24px;height:24px;margin-left:5px;margin-right:5px;" viewBox="0 0 24 24">
                                <path fill="#fff" d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z" />
                            </svg>
                        </a>
                        <!-- youtube icon -->
                        <a href="https://www.youtube.com/channel/UCeCmn8A8uT42dRw-NKjOBcw" target="_blank">
                            <svg style="width:24px;height:24px;margin-left:5px;margin-right:5px;" viewBox="0 0 24 24">
                                <path fill="#fff" d="M10,16.5V7.5L16,12M20,4.4C19.4,4.2 15.7,4 12,4C8.3,4 4.6,4.19 4,4.38C2.44,4.9 2,8.4 2,12C2,15.59 2.44,19.1 4,19.61C4.6,19.81 8.3,20 12,20C15.7,20 19.4,19.81 20,19.61C21.56,19.1 22,15.59 22,12C22,8.4 21.56,4.91 20,4.4Z" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    .custom-container,
    .outer-table,
    .outer-table-row {
        width: 100%;
        height: 100%;
    }

    .outer-table     { display: table; }
    .outer-table-row { display: table-row; }
    .outer-table-col {
        height: 100%;
        display: table-cell;
    }

    .outer-table-col.c {
        width: 100%;
        padding: 0 20px;
    }

    .outer-table-col.l,
    .outer-table-col.r {
        /* remove left, right columns for mobile: portrait */
        width: 0%;
    }

    /* center column content css */
    .main-image-wrapper,
    .div-wrapping-sections-img {
        width: 100%;
    }

    .main-image-wrapper > img,
    .div-wrapping-sections-img > img {
        max-width: 100%;
        max-height: 100%;
    }

    .list-wrapper { margin: 0 auto; }

    .preview-list {
        width: 1px;
        max-width: 80%;
        margin: 0 auto;
        display: block;
        word-wrap: break-word;
    }

    /* mobile: landscape*/
    @media(max-width: 768px) and (orientation: landscape) {
        .outer-table-col {
            height: 100%;
            display: table-cell;
        }

        .outer-table-col.c {
            width: 80%;
        }

        .outer-table-col.l,
        .outer-table-col.r {
            width: 10%;
        }

        .preview-list {
            max-width: 70%;
        }
    }

    /* small */
    @media(min-width: 768px) {
        .outer-table-col {
            height: 100%;
            display: table-cell;
        }

        .outer-table-col.c {
            width: 80%;
        }
        .outer-table-col.l,
        .outer-table-col.r {
            width: 10%;
        }
    }

    /* medium */
    @media(min-width: 992px) {
        .outer-table-col.c { width: 50%; }
        .outer-table-col.l { width: 20%; }
        .outer-table-col.r {
            width: 30%;
            padding-left: 20px;
            position: relative;
        }

        .side.subscribe-wrapper {
            position: fixed;
            width: 250px;
            padding-bottom: 20px;
        }

        .side.subscribe-wrapper form {
            background-color: white;
            margin: 0 0.75rem;
            padding: 10px 20px 0 10px;
        }

        .side.subscribe-wrapper form .side-submit {
            padding-bottom: 20px;
        }
    }

    /* large */
    @media(min-width: 1200px) {
        .preview-list {
            max-width: 60%;
        }

        .outer-table-col.l { width: 25%; }
        .outer-table-col.c { width: 45%; }
        .outer-table-col.r {
            width: 30%;
        }

        .side.subscribe-wrapper {
            width: 350px;
        }
    }

    /* helper classes */
</style>

<script type="text/javascript">
    $(document).ready(function() {
        FixWidth();
        FixHeightOfRightCol();
        $('#side-submit-btn').click(function(e) {
            e.preventDefault();
        });
    });

    $(window).scroll(function() {
        var subscribeWrapper = $('.side.subscribe-wrapper'),
            u = subscribeWrapper.offset().top + subscribeWrapper.height();
        var outerTableCenterCol = $('.outer-table-col.c'),
            f = outerTableCenterCol.offset().top + outerTableCenterCol.height();
        if(u >= f) {
            var footerOffset = $('.page-footer').height();
            subscribeWrapper.css('position', 'absolute');
            subscribeWrapper.css('bottom', 0);
        }

        var scrollTop = $(window).scrollTop(),
            elementOffset = subscribeWrapper.offset().top,
            offsetFromTopOfWindow = (scrollTop - elementOffset);
        var initialOffset = -1 * $('.outer-table-col.c').offset().top;
        if(offsetFromTopOfWindow < initialOffset) {
            subscribeWrapper.css('position', 'fixed');
            subscribeWrapper.css('bottom', 'initial');
        }
    });

    function FixHeightOfRightCol() {
        var centerColHeight = $('.outer-table-col.c').height();
        $('.outer-table-col.r').css('height', centerColHeight+'px');
        console.log('height fixed:', $('.outer-table-col.r').height());
    }

    function FixWidth() {
        var listsArray = $('.list-wrapper').children('.preview-list');
        $.each(listsArray, function(index, value) {
            var maxWidth = 0;
            $.each($(value).children('li'), function(index, li) {
                var canvas = document.createElement('canvas');
                var ctx = canvas.getContext('2d');
                ctx.font = $(li).css('font-size') + ' Roboto, sans-serif';
                var li_width = ctx.measureText($(li).html()).width;
                if(maxWidth < li_width)
                    maxWidth = li_width;
            });
            var ulWidth = $(value).css('width').split('px');
            var currentWidth = parseInt(ulWidth[0]);
            $(value).css('width', (maxWidth+40+10) + 'px');
        });
    }
</script>