<br>
<div class="custom-container">
    <div class="outer-table">
        <div class="outer-table-row">
            <div class="outer-table-col l"></div>
            <div class="outer-table-col c z-depth-5">
                <h3 class="blog-title lmhc-main-title-font center">{{title}}</h3>
                {{#if subheading}}
                <h5 class="blog-subheading grey-text center">{{subheading}}</h5>
                {{/if}}
                <h6 class="blog-date grey-text center">{{date}}</h6>

                {{#if sections.[0]}}
                <div class="main-image-wrapper center">
                    <img src="/images/uploads/{{sections.[0]}}">
                </div>
                {{/if}}

                <div class="blog-sections flow-text">
                    {{#each sections}}
                        {{#if @first}}
                        {{else}}
                            {{{this}}}
                        {{/if}}
                        <br>
                    {{/each}}
                </div>
            </div>
            <div class="outer-table-col r">
                <div class="side subscribe-wrapper hide-on-med-and-down">
                    <h5 class="center">Subscribe to receive updates!</h5>
                    <form>
                        <div class="row">
                            <div class="input-field">
                                <input id="side-firstName" class="validate" name="firstName" type="text">
                                <label for="side-firstName">First Name</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    .custom-container,
    .outer-table,
    .outer-table-row {
        width: 100%;
        height: 100%;
    }

    .outer-table     { display: table; }
    .outer-table-row { display: table-row; }
    .outer-table-col {
        height: 100%;
        display: table-cell;
    }

    .outer-table-col.c {
        width: 100%;
        padding: 0 20px;
    }

    .outer-table-col.l,
    .outer-table-col.r {
        /* remove left, right columns for mobile: portrait */
        width: 0%;
    }

    /* center column content css */
    .main-image-wrapper,
    .div-wrapping-sections-img {
        width: 100%;
    }

    .main-image-wrapper > img,
    .div-wrapping-sections-img > img {
        max-width: 100%;
        max-height: 100%;
    }

    .list-wrapper { margin: 0 auto; }

    .preview-list {
        width: 1px;
        max-width: 80%;
        margin: 0 auto;
        display: block;
        word-wrap: break-word;
    }

    /* mobile: landscape*/
    @media(max-width: 768px) and (orientation: landscape) {
        .outer-table-col {
            height: 100%;
            display: table-cell;
        }

        .outer-table-col.c {
            width: 80%;
        }

        .outer-table-col.l,
        .outer-table-col.r {
            width: 10%;
        }

        .preview-list {
            max-width: 70%;
        }
    }

    /* small */
    @media(min-width: 768px) {
        .outer-table-col {
            height: 100%;
            display: table-cell;
        }

        .outer-table-col.c {
            width: 80%;
        }
        .outer-table-col.l,
        .outer-table-col.r {
            width: 10%;
        }
    }

    /* medium */
    @media(min-width: 992px) {
        .outer-table-col.c { width: 50%; }
        .outer-table-col.l { width: 20%; }
        .outer-table-col.r {
            width: 30%;
            padding-left: 20px;
            position: relative;
        }

        .side.subscribe-wrapper {
            background-color: yellow;
            position: fixed;
            width: 250px;
        }

        .side.subscribe-wrapper form {
            background-color: cyan;
            margin: 0 20px;
        }
    }

    /* large */
    @media(min-width: 1200px) {
        .preview-list {
            max-width: 60%;
        }

        .outer-table-col.l { width: 20%; }
        .outer-table-col.c { width: 40%; }
        .outer-table-col.r {
            width: 40%;
        }

        .side.subscribe-wrapper {
            width: 350px;
        }
    }

    /* helper classes */
</style>

<script type="text/javascript">
    $(document).ready(function() {
        FixWidth();
    });

    function FixWidth() {
        var listsArray = $('.list-wrapper').children('.preview-list');
        $.each(listsArray, function(index, value) {
            var maxWidth = 0;
            $.each($(value).children('li'), function(index, li) {
                var canvas = document.createElement('canvas');
                var ctx = canvas.getContext('2d');
                ctx.font = $(li).css('font-size') + ' Roboto, sans-serif';
                var li_width = ctx.measureText($(li).html()).width;
                if(maxWidth < li_width)
                    maxWidth = li_width;
            });
            var ulWidth = $(value).css('width').split('px');
            var currentWidth = parseInt(ulWidth[0]);
            $(value).css('width', (maxWidth+40+10) + 'px');
        });
    }
</script>