{{date}}
<br>
<div class="custom-container">
    <div class="outer-table">
        <div class="outer-table-row">
            <div class="outer-table-col l"></div>
            <div class="outer-table-col c">
                <h3 class="blog-title lmhc-main-title-font center">{{title}}</h3>
                {{#if subheading}}
                <h5 class="blog-subheading grey-text center">{{subheading}}</h5>
                {{/if}}

                {{#if sections.[0]}}
                <div class="main-image-wrapper center">
                    <img src="/images/uploads/{{sections.[0]}}">
                </div>
                {{/if}}

                <div class="blog-sections">
                    {{#each sections}}
                        {{#if @first}}
                        {{else}}
                            {{{this}}}
                        {{/if}}
                        <br>
                    {{/each}}
                </div>
            </div>
            <div class="outer-table-col r"></div>
        </div>
    </div>
</div>

<style type="text/css">
    .custom-container,
    .outer-table,
    .outer-table-row {
        width: 100%;
        height: 100%;
    }

    .outer-table {
        display: table;
        background-color: yellow;
    }

    .outer-table-row {
        display: table-row;
        background-color: blue;
    }

    .outer-table-col {
        height: 100%;
        display: table-cell;
    }

    .outer-table-col.c {
        width: 100%;
        padding: 0 20px;
        background-color: green;
    }

    .outer-table-col.l,
    .outer-table-col.r {
        /* remove left & right columns for mobile portrait */
        width: 0%;
        background-color: red;
    }

    /* center column css */
    .main-image-wrapper,
    .div-wrapping-sections-img {
        width: 100%;
        /*height: 140px;*/
    }

    .main-image-wrapper > img,
    .div-wrapping-sections-img > img {
        max-width: 100%;
        max-height: 100%;
    }

    /* galaxy s6: landscape*/
    @media(max-width: 768px) and (orientation: landscape) {
        .outer-table-col {
            height: 100%;
            display: table-cell;
        }

        .outer-table-col.c {
            width: 80%;
            background-color: green;
        }

        /* center column css */
        .main-image-wrapper {
            height: 325px;
        }

        .div-wrapping-sections-img {
            height: 400px;
        }
    }

    /* small */
    @media(min-width: 768px) {
        .outer-table-col {
            height: 100%;
            display: table-cell;
        }

        .outer-table-col.c {
            width: 80%;
            background-color: green;
        }

        /* center column css */
        .main-image-wrapper {
            height: 325px;
        }

        .div-wrapping-sections-img {
            height: 400px;
        }
    }

    /* medium */
    @media(min-width: 992px) {
    }

    /* large */
    @media(min-width: 1200px) {
        .main-image-wrapper {
            height: 450px;
        }

        .div-wrapping-sections-img {
            height: 600px;
        }
    }

    /* helper classes */
</style>